.item {
    border-radius: 15px;
    width: 23%;
    height: max-content;
    padding: 20px;
    margin-right: 8px;
    background-color: aliceblue;
}
.image_container {
    position: relative;
    display: inline-block;
}
img {
    display: block;
    width: 100%;
}
.icon_container {
    position: absolute;
    top: 10px;
    right: 10px;
}
.but_detail {
    width: 100%;
    display: flex;
}
@media screen and (max-width:900px) {
    .item{
        width: 48%;
        margin: auto;
    }
}
