.wrapper_contenthomevote {
  padding: 20px;
}
.wrapper_contenthomevote .content_vote{
  margin: 15px;
}

@media screen and (max-width: 900px) {
  .wrapper_contenthomevote {
    padding: 8px;
  }
  .wrapper_contenthomevote .content_vote{
    margin: 5px;
  }
}