.body {
    width: 100vw;
    height: 100vh;
    display: flex;
//    background-color:   ;   
     background-color: rgba(0, 0, 0, 0.5);
    .wrapper{
        display: flex;
        width: 55vw;
        height: 85vh;
        margin: 15px auto;
        // background: url("../../../assets/anh-dep-thien-nhien-2-1.jpg");
        background: white;
        background-size: cover;
        .content_login_right{
            width: 50%;
            padding: 20px;
        }
        .content_login_left{
            width: 50%;
            display: contents;
        }
    }

  }
    @media screen and (max-width: 900px) {
        .body {
            .wrapper{
                width: 100vw;
                height: max-content;
                display: flex;
                
                flex-direction: column;
                .content_login_right{
                    display: none;
                }
                .content_login_left{
                    width: 90%;
                }
            }
        }
    }