.comemtlayout {
  width: 100%;
  display: flex;
  padding: 10px;
}
.comemtlayout .commentLayoutLeft {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.comemtlayout .commentLayoutLeft .pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.comemtlayout .commentLayoutLeft .pagination button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}
.comemtlayout .commentLayoutLeft .pagination button.active {
  background-color: #07a267;
  color: #fff;
  border-color: #07a267;
}
.comemtlayout .commentLayoutRight {
  width: 20%;
}
.comemtlayout .commentLayoutRight .commentLayoutRightContent {
  text-align: end;
  margin: 15px 0;
}
.comemtlayout .commentLayoutRight .commentLayoutRightContent button {
  margin: 15px 0;
  padding: 15px 20px;
  border: none;
  font-weight: 600;
}
.comemtlayout .commentLayoutRight .commentLayoutRightContent button:hover {
  background-color: aquamarine;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .comemtlayout {
    display: block;
    padding: 3px;
  }
  .comemtlayout .commentLayoutLeft,
  .comemtlayout .commentLayoutRight {
    width: 98%;
    margin: auto;
  }
  .comemtlayout .commentLayoutRight h2,
  .comemtlayout .commentLayoutLeft h2 {
    font-size: 21px;
  }
}
