.home_layout {
  display: block;
  height: 100vh;
  position: relative;

  .header_home {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    border-bottom: 1px solid rgb(215, 214, 214);
  }

  .content_home {
    display: flex;
    margin: auto; 
    top: 70px;
    padding: 5px;
    position: relative;

    .menu_left {
      width: 7%;
    }

    .content_right {
      width: 93%;
      overflow-y: auto;
      flex-grow: 1; /* Điều chỉnh chiều cao để không làm đẩy footer */

      padding: 15px;
    }
  }

  .footer_home {
    width: 100%;
    background-color: gray;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .home_layout .content_home {
    display: flex;
    flex-direction: column;
  }

  .home_layout .content_home .menu_left {
    width: 100%;
    order: 2;
    background-color: white;
    position: fixed;
    bottom: 0;
  }

  .home_layout .content_home .content_right {
    width: 100%;
    order: 1;
    flex-grow: 1;
  }

  .home_layout .footer_home {
    width: 100%;
    order: 3;
    background-color: gray;
    position: relative;
  }
}
