.home_layout {
  display: block;
  height: 100vh;
  position: relative;

  .header_home {
    width: 100%;
    background-color: aqua;
    position: fixed;
    z-index: 10;
    top: 0;
  }

  .content_home {
    display: flex;
    margin: auto;
    background-color: aquamarine;
    top: 50px;
    position: relative;

    .menu_left {
      width: 10%;
    }

    .content_right {
      width: 90%;
      overflow-y: auto;
      flex-grow: 1; /* Điều chỉnh chiều cao để không làm đẩy footer */
    }
  }

  .footer_home {
    width: 100%;
    background-color: gray;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .home_layout .content_home {
    display: flex;
    flex-direction: column; 
  }

  .home_layout .content_home .menu_left {
    width: 100%;
    order: 2;
    background-color: white;
    position: fixed; 
    bottom: 0;
  }

  .home_layout .content_home .content_right {
    width: 100%;
    order: 1; 
    flex-grow: 1; 
  }

  .home_layout .footer_home {
    width: 100%;
    order: 3;
    background-color: gray;
    position: relative;
  }
}
