.wrapper_votelayout {
  padding: 5px;
  display: block;
}
.wrapper_votelayout .list_vote {
  display: block;
  padding: 5px;
  width: 100%;
}
.wrapper_votelayout .list_vote .list_vote_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.wrapper_votelayout .list_vote h2 {
  margin: 0;
}
.wrapper_votelayout .list_vote .create_vote_button {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.wrapper_votelayout .list_vote .create_vote_button:hover {
  background-color: #218838;
}
.wrapper_votelayout .list_vote .list_item_vote {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .wrapper_votelayout {
    flex-direction: column;
  }
  .wrapper_votelayout .content_vote h1{
    display: none;
  }
  .wrapper_votelayout .content_list_vote .list_vote {
    width: 100%;
    height: max-content;
    position: relative;
    top: 30px;
    margin: auto;
    padding: 5px;
  }.wrapper_votelayout .list_vote .list_vote_header h2{
    font-size: 21px;
  }
  .wrapper_votelayout .list_vote h2{
    font-size: 21px;
  }
  .wrapper_votelayout .content_list_vote .list_vote .list_item_vote {
    display: flex;
  }
}

