form {
    background: transparent;
    width: 25vw;
    margin: auto;
    padding: 50px;
    justify-content: center;
    backdrop-filter: blur(30px);
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .form_login {
        display: grid;
        width: 100%;
        margin: 5px;
        #standard-basic {
            font-size: 20px;
            padding: 2px;
        }
    }
    .button {
        display: flex;
        justify-content: center;
        margin: 15px 0;
        a {
            margin: 15px auto;
        }
    }
    .forgot {
        text-align: center;
        margin: 15px 0;
        a {
            text-decoration: none;
            list-style: none;
        }
    }
    .signup{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}
@media screen and (max-width: 900px) {
    form {
        width: 100%;
        padding: 20px;
        h1 {
            font-size: 20px;
        }
        .form_login {
            #standard-basic {
                font-size: 15px;
            }
        }
    }
    
}