.inputSearchAdmin {
  display: flex;
  align-items: center;
    /* position: relative; Để làm cha chứa phần tử con dùng position absolute */
    width: 100%;
  }
  
  .results {
    position: absolute; /* Chồng lên các phần tử khác */
    top: 100%; /* Đảm bảo nó xuất hiện ngay bên dưới ô tìm kiếm */
    left: 0;
    right: 0;
    z-index: 100; /* Đảm bảo phần kết quả nằm trên các thành phần khác */
    background-color: white; /* Để kết quả hiển thị rõ ràng */
    border: 1px solid #ccc; /* Tùy chỉnh thêm viền cho đẹp */
    max-height: 300px; /* Giới hạn chiều cao để không chiếm quá nhiều không gian */
    overflow-y: auto; /* Cuộn nếu kết quả quá nhiều */
  }
  
  .result-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer; /* Thêm hiệu ứng con trỏ để tạo cảm giác có thể chọn */
  }
  