/* .inputSearchAdmin {
  display: flex;
  align-items: center;
    width: 100%;
  }
  
  .results {
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white; 
    border: 1px solid #ccc; 
    max-height: 300px; 
    overflow-y: auto; 
  }
  
  .result-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer; 
  }
   */

   .inputSearchAdmin {
    display: flex;
    align-items: center;
      width: 100%;
      justify-content: end;
      margin: 10px auto;
    }
    .search {
      width: 60%; /* Bạn có thể thay đổi tỷ lệ phần trăm này để làm cho nút dài hơn */
      
    }
    
    .results {
      position: absolute; 
      top: 68px; 
      z-index: 100;
      width: 100%;
      background-color: white; 
      border: 1px solid #ccc; 
      max-height: 300px; 
      overflow-y: auto; 
    }
    
    .result-item {
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer; display: flex; align-items: center;
    }
    .result-item:hover {
      background-color: aquamarine;
    }
    .disabled-icon {
      color: gray; /* Màu sắc hiển thị trạng thái vô hiệu */
      pointer-events: none; /* Vô hiệu hóa sự kiện click */
      cursor: not-allowed;
    }
    