/* .inputSearchAdmin {
  display: flex;
  align-items: center;
    width: 100%;
  }
  
  .results {
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white; 
    border: 1px solid #ccc; 
    max-height: 300px; 
    overflow-y: auto; 
  }
  
  .result-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer; 
  }
   */

   .inputSearchAdmin {
    display: flex;
    align-items: center;
      width: 100%;
      justify-content: end;
      margin: 10px auto;
    }
    .search {
      width: 60%; /* Bạn có thể thay đổi tỷ lệ phần trăm này để làm cho nút dài hơn */
      
    }
    
    .results {
      position: absolute; 
      top: 68px; 
      z-index: 100;
      width: 100%;
      background-color: white; 
      border: 1px solid #ccc; 
      max-height: 300px; 
      overflow-y: auto; 
    }
    .status-indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-left: 8px;
     
    }
    
    .status-indicator.online {
      background-color: green; /* Trạng thái online */
      animation: pulse 1.5s infinite;  /* Thêm hiệu ứng lan tỏa */
    }
    
    .status-indicator.offline {
      background-color: gray; /* Trạng thái offline */
    }
    
    /* Hiệu ứng lan tỏa với bóng mờ */
    @keyframes pulse {
      0% {
        transform: scale(1); /* Bắt đầu kích thước bình thường */
        opacity: 1;
        box-shadow: 0 0 5px green; /* Bóng mờ nhỏ khi kích thước bình thường */
      }
      50% {
        transform: scale(1.5); /* Mở rộng ra */
        opacity: 0.5; /* Mờ đi khi mở rộng */
        box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.5); /* Bóng mờ to và nhạt dần */
      }
      100% {
        transform: scale(1); /* Quay lại kích thước ban đầu */
        opacity: 1;
        box-shadow: 0 0 5px green; /* Bóng mờ nhỏ khi quay lại kích thước ban đầu */
      }
    }
    
    
    .result-item {
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer; display: flex; align-items: center;
    }
    .result-item:hover {
      background-color: aquamarine;
    }
    .disabled-icon {
      color: gray; /* Màu sắc hiển thị trạng thái vô hiệu */
      pointer-events: none; /* Vô hiệu hóa sự kiện click */
      cursor: not-allowed;
    }
    