.container_instrcction_title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.container_instrcction {
    padding: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 20px;
    display: flex;
  }
  .container_instrcction h1{
    font-weight: 550;
  }
  .container_instrcction  .container_instrcction_left  {
    width: 50%;
  }
  
  .container_instrcction .container_instrcction_right {
    width: 50%;
  }
  .container_instrcction  .container_instrcction_left .section-header {
    display: flex;
    align-items: center;
  }
  
  .container_instrcction .container_instrcction_left .section-header h2 {
    margin: 0;
    font-weight: 548;
  }
  
  .container_instrcction .container_instrcction_left .button-toggle {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .container_instrcction .container_instrcction_left .button-toggle:hover {
    background: #0056b3;
  }
  .container_instrcction .container_instrcction_left .content-list p {
    margin: 10px 0;
    padding-left: 20px;
  }
  .container_instrcction .container_instrcction_left .content-list ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .container_instrcction .container_instrcction_left .content-list ol {
    margin: 10px 0;
    padding-left: 20px;
  }
  .container_instrcction .container_instrcction_right .video-container {
    display: flex;
    margin-top: 10px;
}

.container_instrcction .container_instrcction_right .video-container iframe {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 550px;
    margin: auto;
    height:250px;
}

@media screen and (max-width: 900px) {
  .container_instrcction_title{
    font-size: 23px;
    margin-top: 5px;
}
    .container_instrcction {
        padding: 5px;
        font-size: 18px;
        display: block;
    }
    .container_instrcction  .container_instrcction_left  {
      width: 100%;
    }
    
    .container_instrcction .container_instrcction_right {
      width: 100%;
    }
    .container_instrcction h1 {
        font-size: 21px;
    }
    .container_instrcction .container_instrcction_left .section-header  {
        display: block;
    }
    .container_instrcction .container_instrcction_left  .section-header h2 {

        font-size: 20px;
    }
    .container_instrcction .container_instrcction_left  .button-toggle {
        padding: 5px 8px;
    }
    .container_instrcction .container_instrcction_left  .content-list ul {
        margin: 5px 0;
    }
    .container_instrcction .container_instrcction_left .content-list ol {
        margin: 5px 0;
    }
    .container_instrcction .container_instrcction_right .video-container {
        margin-top: 10px;
    }
    .container_instrcction .container_instrcction_right .video-container iframe {
        border-radius: 5px;
    }   
    
}