@charset "UTF-8";
.header_home {
  width: 100%;
  height: 70px;
  padding: 5px;
  background-color: rgb(226, 240, 231);
}

.header_home .header_home_content {
  display: flex;
  width: 95%;
  height: 100%;
  background-color: rgb(226, 240, 231);
  align-items: center;
  margin: auto;
}

.header_home .header_home_content img {
  width: 80px;
  height: 80px;
  margin-left: 70px;
}

.header_home .header_home_content .header_home_title {
  margin-left: 0px;
  width: 20%;
}

.header_home .header_home_content .header_home_title h2 {
  color: #043747;
}

.header_home .header_home_content .header_home_title p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.header_home .header_home_content .inputSearch {
  display: flex;
  margin-left: 10px;
  width: 33%;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  position: relative; /* Thêm thuộc tính này */
}

.header_home .header_home_content .inputSearch .search {
  width: 100%;
  background-color: white;
  height: 100%;
  border-radius: 30px;
}

.header_home .header_home_content .search_results {
  position: absolute; /* Thay đổi từ absolute */
  top: 100%; /* Đặt vị trí ngay dưới inputSearch */
  left: 0;
  width: 100%; /* Đảm bảo chiều rộng khớp với inputSearch */
  max-height: 200px;
  font-size: 20px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1000; /* Giúp hiển thị kết quả chồng lên các thành phần khác */
}

.header_home .header_home_content .search_results .itemSearch {
  padding: 10px;
  width: 100%;
  border: 1px solid #dfdbdb;
}

.header_home .header_home_content .search_results .itemSearch:hover {
  background-color: #ccefd7;
}

.header_home .header_home_content .formLogin {
  width: 30%;
}

@media screen and (max-width: 900px) {
  .header_home {
    height: 70px;
    justify-content: center;
    width: 100%;
    display: flex;
  }

  .header_home .header_home_content {
    margin: 0;
    align-items: center;
  }

  .header_home .header_home_content .header_home_title {
    display: none;
  }

  .header_home .header_home_content .header_home_title h1 {
    display: none;
  }

  .header_home .header_home_content img {
    width: 70px;
    height: 70px;
    margin-left: 0px;
  }

  .header_home .header_home_content .header_home_title p {
    display: none;
  }

  .header_home .header_home_content .inputSearch {
    width: 70%;
    align-items: center;
    margin-left: 1px;
    margin-right: 1px;
  }

  .header_home .header_home_content .search_results {
    /* width: calc(100% + 90px); Đảm bảo chiều rộng khớp với inputSearch */
    margin-top: 3px;
    position: absolute;
  }

  .header_home .header_home_content .formLogin {
    margin-left: 10px;
    width: 20%;
  }
}
