.header_home {
    width: 100%;
    height: 70px;
    padding: 5px;
    background-color: rgb(226, 240, 231);
    .header_home_content {
        display: flex;
        width: 95%;
        height: 100%;
        background-color: rgb(226, 240, 231);
        align-items: center;
        margin: auto;
        justify-content: space-between;
        .header_home_title {
            text-align: center;
            width: 20%;
            h1 {
                color: #f80909;
            }
            p {
                font-size: 1.2rem;
                font-weight: 500;
                color: #000;
            }
        }
        .inputSearch {
            width: 33%;
            height: max-content;
            background-color: white;
            .search {
                width: 100%;
                background-color: white;
                height: 100%;
                border-radius: 15px;
            }
        }
        .search_results {
            position: absolute;
            width: 31%;
            margin: auto;
            max-height: 200px;
            font-size: 20px;
            overflow-y: auto;
            background-color: white;
            border: 1px solid #ddd;
            z-index: 1000; /* Giúp hiển thị kết quả chồng lên các thành phần khác */

            .itemSearch {
                padding: 10px;
                width: 100%;
            }
            .itemSearch:hover{
                background-color: aqua;
            }
        }

        .formLogin {
            width: 20%;
        }
    }
}
@media screen and (max-width: 900px) {
    .header_home {
        height: 70px;
        justify-content: center;
        width: 100%;
        .header_home_content {
            margin: 0;
            align-items: center;
            .header_home_title {
                width: 25%;
                h1 {
                    font-size: 1.2rem;
                }
                p {
                    display: none;
                }
            }
            .inputSearch {
                width: 55%;
                align-items: center;
                .search_results {
                    width: 50%;
                    margin: auto;
                }
            }
            .formLogin {
                width: 15%;
                position: relative;
                top: 5px;
            }
        }
    }
}
