.usersManagement{
    display: flex;
    justify-content: space-between;
    height: 100%;
    .userManaLeft{
        width: 31%;
        table{
            .trrow:hover{
                background-color: aquamarine;
                cursor: pointer;
            }
        }
    }
    .userManaRight{
        width: 68%;
        height: 80%;
    }
}