.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    .but_signup{
        width: 45%;
        text-align: right; 
    }
    .but_login{
        width: 55%;
        text-align: left;
    }
}
@media screen and (max-width: 768px){
    .wrapper{
        .but_signup{
            display: none;
        }
        .but_login{
            width: 100%;
            text-align: center;
        }
    }
    
}