.wrapper {
    display: flex;
    .icon_menu {
        font-size: 20px;
        padding: 10px;
        margin-right: 10px;
        height: max-content;
        text-align: center;
        transition: background-color 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: #f1f1f1;
            border-radius: 15px;
        }

        &.menuClick {
            background-color: yellow;
            border-radius: 15px;
        }
    }

    // Styles for links
    a {
        text-decoration: none;
        color: inherit;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
      display: flex;
      
    }
    .wrapper .menu{
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    .wrapper .icon_menu {
      display: inline-block;
      margin: 10px;
    }
    .wrapper .icon_menu.menuClick {
      background-color: yellow;
      border-radius: 15px;
    }
    
  }