.content_right_home{
    display: block;
    width: 100%;
    
    .slider_content_home{
        width: 99%;
        margin: auto;
        height: 250px;
        img{
            width: 100%;
            border-radius: 20px;
        }
    }
}