.content_right_home {
  display: block;
  width: 100%;
}
.content_right_home .slider_content_home {
  width: 99%;
  margin: 0 0 15px 0;
  height: 350px;
}
.content_right_home .slider_content_home img {
  width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 900px) {
  .content_right_home .slider_content_home {
    height: 150px;
  }
  .content_right_home .slider_content_home img {
    width: 100%;
    height: 150px;
  }
}