.wrapper_form_login {
    width: 100%;
    display: flex;
    align-items: center;
    .header__home_name {
        margin-right: 5px;
    }
    .header__home_icon {
        cursor: pointer;
    }
    
    .overlay {
        position: fixed;
        top: 55px;
        right: 0;
        margin-right: 100px;
        width: 100%;
        height: 100%;
        padding: 70px;

        // background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        display: flex;
        justify-content: right;
        align-items: center;
        z-index: 1000; /* Ensure it is on top */

        
    }
}

.wrapper_form_login:hover .menu_layout_logged {
     /* Hiển thị menu khi hover */
     display: block;
}


@media screen and (max-width: 900px) {
    .wrapper_form_login {
        flex-direction: column;

        .header__home_icon {
            display: flex;
            justify-content: end;
        }

        .header__home_name {
            display: none;
        }
        .overlay {
            margin-right: 0;
            padding: 0;
            top: 55px;
            right: 0;
            width: 100%;
            height: 100%;
            padding: 75px 20px 0 0;
            display: flex;
            justify-content: right;
            align-items: center;
            z-index: 1000; /* Ensure it is on top */
           
        }
    }
}
