.forgot-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .forgot-password-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .forgot-password-form .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .forgot-password-form .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  
  .forgot-password-form .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    margin-top: 5px;
  }

  .forgot-password-form .form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ccc;
    color: white;
    /* border: none; */
    cursor: pointer;
    /* margin-top: 10px; */
  }
  
  .forgot-password-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  
  .forgot-password-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .forgot-password-form .back-to-login {
    background: none;
    border: none;
    color: #007BFF;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .forgot-password-form .back-to-login:hover {
    text-decoration: underline;
  }

  .forgot-password-form .otp-btn-link{
    display: inline;
    max-width: 400px;
    width: 100%;
    align-items: center;
  } 

  .forgot-password-form .resend-otp-link{
    background: none;
    border: none;
    color: #007BFF;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
  }
  